.btn-transparent {
  $bg: rgba(255, 255, 255, .05);
  $border: rgba(255, 255, 255, .1);
  $color: map-get($palette, accent, 900);

  $hover-bg: $bg;
  $hover-border: $border;
  $hover-color: $color;

  $active-bg: $bg;
  $active-border: $border;
  $active-color: $color;

  $disabled-bg: $bg;
  $disabled-border: $border;
  $disabled-color: map-get($palette, accent, 100);

  @include button-variant(
    $bg,
    $border,
    $color,
    $hover-bg,
    $hover-border,
    $hover-color,
    $active-bg,
    $active-border,
    $active-color,
    $disabled-bg,
    $disabled-border,
    $disabled-color,
  );
}
