<aside
  id="offcanvasResponsive"
  class="offcanvas-lg offcanvas-start"
  tabindex="-1"
  aria-labelledby="offcanvasResponsiveLabel"
>
  <a routerLink="/">
    <img class="brand" src="assets/brand.svg" alt="">
  </a>

  <section *ngFor="let menu of menus">
    <h5 class="menu-title" *ngIf="menu.title">{{ menu.title }}</h5>

    <nav>
      <ul>
        <li
          *ngFor="let item of menu.items"
          app-nav-item
          [path]="item.path"
          [label]="item.label"
          [icon]="item.icon"
        ></li>
      </ul>
    </nav>
  </section>
</aside>
