:host {
  display: block;
  padding-top: 15%;
  width: 100%;
  max-height: 500px;
  background: rgb(20,102,128);
  background: linear-gradient(0deg, rgba(0,0,0,.1) 0%, #11151d 100%), url('/assets/banner_dt_cover.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper {
  padding-bottom: 80px;
}

.banner-artist {
  opacity: .7;
}

.controls {
  margin-top: 32px;
  gap: 24px;
}

.play-button {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
